@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Red: hsl(0, 100%, 74%) ;
$Green: hsl(154, 59%, 51%);
$Green_boxshadow: rgb(48, 178, 122);
$Magenta: hsl(248, 32%, 49%);
$Dark_Blue: hsla(249, 10%, 26%, 0.2);
$Grayish_Blue: hsl(246, 25%, 77%);

// font-family: 'Poppins', sans-serif;